body {
    width: 50%;
    border: 1px solid black;
    border-radius: 4px;
    margin: 110px auto;
    text-align: center;
}
h2 {
    font-family: monospace;
    font-size: 24px;
}
label {
    font-size: 24px;
    font-family: cursive;
}
input[type="submit"] {
    padding: 4px 25px;
    margin-left: 90px;
    font-size: 15px;
    font-weight: 700;
}
input[type="reset"] {
    padding: 4px 25px;
    font-size: 15px;
    font-weight: 700;
}
.error { 
    color: red; 
}
.success { 
    color: green; 
}