body {
    margin: 0;
}
div#navbarText {
    margin-left: 81%;
}
.navbar {
    background-color: #4b4b9c8c; 
}
.body {
    margin: 110px auto;
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
    width: 50%;
    text-align: center;
}
h2 {
    margin-bottom: 0px;
}
.dateSection {
    margin-bottom: 10px;
}
label {
    font-size: 19px;
}
#taskDate {
    width: 204px;
}
.error {
    display: none;
}
#taskInput {
    padding: 7px 22px;
    margin-left: 54px;
}
input.added_input {
    margin-left: 38%;
    display: block;
    padding: 7px 22px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#newTask {
    padding: 7px 4px;
}
#submitTodo {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 4px 8px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 900px) {
    div#navbarText {
        margin-left: 0;
    }
    .title {
        font-size: 16px;
    }
}